.todo{
    display:flex;
    flex-direction:row;  
    text-decoration: none;
    justify-content:space-evenly;
    border-width: 10px;
}

.li{
    display:inline-block;
    margin-left: 15px;
    border-width: 10px;
}

.a{
    border: 1.5px solid #ddd;
    padding: 4px 10px;
    border-radius:5px;
    color:white;
    background: #000000;  
    background: -webkit-linear-gradient(to right, #434343, #000000);
    background: linear-gradient(to right, #434343, #000000);

}

.a:hover{
    border: 2px solid rgb(7, 7, 7);
    font-weight: bold;
    padding: 4px 10px;
    border-radius:5px;
    color:black;
    background: #ECE9E6; 
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); 
    cursor: pointer;
}

/* .a:hover{
    border: 1.5px solid #ddd;
    padding: 4px 10px;
    cursor: pointer;
} */