.todo{
    display:flex;
    flex-direction:row;  
    text-decoration: none;
    justify-content:space-evenly;
    border-width: 10px;
}

.li{
    display:inline-block;
    margin-left: 15px;
    border-width: 10px;
}

.a{
    border: 1px solid black;
    padding: 4px 10px;
    border-radius:4px;
    color:black;
    background: rgba(51, 51, 51, 0.747);
    font-weight: bold;
}

.a:hover{
    border: 1px solid black;
    font-weight: bold;
    padding: 4px 10px;
    border-radius:4px;
    color:black;
    background: white; 
    cursor: pointer;
}