.contenedor{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* background: black; */
    /* background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); */
    margin-left: 60px;
    margin-right: 60px;
    border-radius:8px;
    margin-bottom: 70px;
    align-items: stretch;
    opacity: 0.8;
}

.algo{
    text-decoration: none;
    color: black;
}

.todo{
    background-image: url(../../fondos//ps1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.cards{
    border-width: 1.5px;
    border-color: black;
    font-family: "arial", serif;
}

.cards:hover{
    border-width: 1.5px;
    border-color: white;
    font-family: "arial", serif;
    cursor: pointer;
}

/* .h1{
    color: white;
    display: flex;
    margin-left: 60px;
} */

.filtros{
    margin-bottom: 15px;
    margin-top: 15px;
}

.ord1{
    margin-right: 5px;
    border-radius: 3.5px;
    border: none;
    background-color:white;
    border-width: 0px;
    color:black;
}
.ord2{
    margin-right: 5px;
    border-radius: 3.5px;
    border: none;
    background-color:white;
    border-width: 0px;
    color:black;
}
.ord3{
    margin-right: 5px;
    border-radius: 3.5px;
    border: none;
    background-color:white;
    border-width: 0px;
    color:black;
}
.ord4{
    margin-right: 5px;
    border-radius: 3.5px;
    border: none;
    background-color:white;
    border-width: 0px;
    color:black;
}

.link{
    margin-top: 15px;
}

.recargar{
    background: none;
    text-decoration: none;
    display: flex;
    /* width: 115px; */
    margin-left: 60px;
    color: white;
    border-style: none;
    font-size: 30px;
    margin-top:15px;
    margin-bottom:15px;
    font-weight: bold;
    font-family: Verdana;
}

.recargar:hover{
    background: none;
    text-decoration: none;
    display: flex;
    /* width: 115px; */
    margin-left: 60px;
    color: white;
    border-style: none;
    font-size: 30px;
    margin-top:15px;
    margin-bottom:15px;
    font-weight: bold;
    font-family: Verdana;
    cursor: pointer;
}

.error{
    background-image: url(../../fondos/ps1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.imgError{
    display: flex;
    border-radius: 5px;
    height:350px;
    width:350px;
    margin-left: 590px;
    opacity: 0.8;
}

.h2error{
    color:white;
}

.cargador{
    align-self: center;
    width: 80px;
    animation: running 3s infinite linear;
}

@keyframes running {
    from {
        transform: translateX(10%);
    }
    to{
        transform: translateX(50%);
    }
}

.padre{
    margin-top:240px;
}

.crear{
    border-radius: 5px;
    border-style: none;
    background-color: white;
    /* color:black; */
    font-weight: bold;
    width:130px;
    height:23px;
    border-width: 0px;
}

.crear:hover{
    border-radius: 5px;
    border-style: none;
    background-color: white;
    /* color:black; */
    font-weight: bold;
    width:130px;
    height:23px;
    border-width: 0px;
    cursor: pointer;
}
