.cont{
    background-image: url(../../fondos/pexels-cottonbro-4835429.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.all{
    margin-top:100px;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    margin-left: 400px;
    margin-right: 400px;
    border-radius:8px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column
}

.volver{
    background: none;
    text-decoration: none;
    display: flex;
    /* width: 115px; */
    margin-left: 60px;
    color: white;
    border-style: none;
    font-size: 30px;
    margin-top:15px;
    margin-bottom:15px;
    font-weight: bold;
    font-family: Verdana;
}

.volver:hover{
    background: none;
    text-decoration: none;
    display: flex;
    /* width: 115px; */
    margin-left: 60px;
    color: white;
    border-style: none;
    font-size: 30px;
    margin-top:15px;
    margin-bottom:15px;
    font-weight: bold;
    font-family: Verdana;
    cursor: pointer;
}

.return{
    text-decoration: none;
}

/* .tittle{
    text-align: center;
}

.div{
    text-align: center;
    display:flex;
    height:5vh;
} */

.form{
    display:flex;
    flex-direction:column;
    margin-top:25px;
    /* margin-right: 1200px; */
    text-align: center;
    margin-left: 20px;
}

.botton{
    display:flex;
    flex-direction:column;
    margin-top: 15px;
}

.form label{
    width:200px;
    display: inline-block;
    text-align: left;
    margin-right:15px
}