.cont{
    background-image: url(../../fondos/pexels-cottonbro-4835429.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.all{
    margin-top:200px;
    background: #ADA996;
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    margin-left: 60px;
    margin-right: 60px;
    border-radius:8px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column
}

/* .tittle{
    display: inline;
} */

.div{
    display:flex;
    height:5vh;
}

.form{
    display:flex;
    flex-direction:column;
    margin-top:50px;
    /* margin-right: 1200px; */
    text-align: left;
    margin-left: 20px;
}

.botton{
    display:flex;
    flex-direction:column;
    margin-top: 15px;
}

.form label{
    width:200px;
    display: inline-block;
    text-align: left;
    margin-right:15px
}